html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: fixed;
  touch-action: none;
}

div {
  margin: 0px;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
