$trans-speed-slow = 1.2s;
$trans-speed-mid = 0.8s;
$trans-speed-fast = 0.4s;
$trans-speed-now = 0s;

.trans-slow {
  transition-duration: $trans-speed-slow;
}

.trans-mid {
  transition-duration: $trans-speed-mid;
}

.trans-fast {
  transition-duration: $trans-speed-fast;
}

.trans-now {
  transition-duration: $trans-speed-now;
}
.trans-drop-out-r {
  transform: translate()
}
